/* ##### Buttons [Start] ##### */
button {
  cursor: pointer;
}

button > * {
  pointer-events: none;
}

button svg {
  /* width: 65%; */
  /* height: auto; */
  z-index: 0;
}

/* FORM BUTTONS group [Start] */
.btns-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 320px;
  width: 100%;
}

.btn-submit svg,
.btn-reset svg,
.btn-save svg {
  width: 65%;
  height: auto;
}

.btn-submit,
.btn-reset,
.btn-save {
  background-color: rgb(244, 244, 244);
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
}

@media (hover: hover) {

  .btn-submit:hover,
  .btn-reset:hover,
  .btn-save:hover {
    border-width: 2px;
    background-color: white;
  }
}

@media (hover: none) {

  .btn-submit:active,
  .btn-reset:active,
  .btn-save:active {
    border-width: 2px;
    background-color: white;
  }
}

/* FORM BUTTONS group [End] */


/* GLOBAL BUTTONS group [Start] */
.btns-global {
  position: fixed;
  right: 10px;
  bottom: 70px;
}

/* To-top button */
.btn-to-top-container {
  display: none;
}

:root {
  --gray-svg: rgba(255, 255, 255, 0.8);
}

.btn.-global {
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-bottom: 5px;
}

.btn.-global:hover,
.btn.-global:active {
  border: 2px solid rgba(128, 128, 128, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  --gray-svg: rgba(128, 128, 128, 0.8);
}

/* Buttons - Svg */
.btn.-global svg {
  width: 75%;
  height: auto;
  z-index: 0;
}

#svg-global-reset path,
#svg-global-save path {
  stroke-width: 24px;
}

#svg-global-save ellipse {
  stroke-width: 24px;
}

#svg-global-go-to-top polyline {
  stroke-width: 24px;
}

/* ##### Buttons [End] ##### */