/* ##### Details dropdown [Start] ##### */
details {
  text-align: initial;
  margin: 10px 10px 0px 20px;
  align-self: flex-start;
}

summary {
  font-weight: bold;
  padding: 4px 10px 4px 2px;
  cursor: pointer;
  /* max-width: 320px; */
}

.details-body {
  padding: 2px;
}

.details-body.-top > p {
  text-indent: 4px;
}

.details-body.-top p,
details ol li {
  padding: 2px;
}

details ol {
  padding: 2px;
}

details ol li {
  margin-left: 20px;

}

details hr {
  margin: 8px auto;
  max-width: 80%;
  text-align: center;
}

.details-top summary {
  color: var(--blue-text-links);
}

main {
  /* border: 2px solid red; */
}

.details-bottom {
  margin-top: 0;
}

.details-bottom summary {
  /* border: 2px solid green; */
  color: var(--orange-menu-color);
}

.details-body.-bottom {
  /* border: 2px solid blue; */

}

/* ##### Details dropdown [End] ##### */