:root {
  --black-color: rgb(53, 59, 65);
  --black-color-2: rgb(74, 80, 87);
  --yellow-input-bg-color: rgb(255, 255, 153);
  --orange-input-bg-color: rgb(255, 204, 102);
  --orange-menu-color: rgb(226, 107, 10);
  --red-menu-color: rgb(192, 0, 0);
  --grey-bg: rgb(248, 248, 248);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Inter, Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: var(--black-color); */
  text-align: center;
  height: 100vh;
}

/* ##### Common styles ##### */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.--grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.--grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* ##### Text styles ##### */
.superscript {
  /* vertical-align: top;  */
  position: relative;
  top:  -0.3em;
  font-size: 80%;
}

.italic {
  font-style: italic;
}

.text-green {
  color: green;
}

.equal-sign,
.multiply-sign {
  font-size: 120%;
}

.equal-sign > span,
.multiply-sign > span {
  transform: translateX(1px);
}

/* ##### Main elements ##### */
body,
.page-column,
form,
aside.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
form {
  width: 100%;
}

fieldset {
  border: none;
}

header.page {
  padding: 6px;
  /* margin-bottom: 40px; */
}

footer.page {
  margin-top: auto;
}

header.page,
footer.page {
  background-color: rgb(248, 248, 248);
  width: 100%;
}

.top-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 20px;
}

.page-column {
  padding: 0 5px;
}

/* ##### Small elements ##### */
hr {
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ##### Card ##### */
fieldset,
article.card {
  max-width: 320px;
  width: 100%;
}

article.card,
aside.legend {
  margin: 0 20px 40px;
}

article.card.--last-child {
  margin-bottom: 20px;
}

article.card {
  border: 2px solid black;
}

article.card > header,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

article.card > header {
  background-color: rgb(220, 230, 241);
  padding: 2px 2px 4px 2px;
  text-decoration: underline;
}

.card-body {
  padding: 16px;
}

.cell {
  padding: 2px;
}

.cell.-line {
  grid-column: 1 / -1;
  padding: 2px;
  height: 16px;
}

.cell.-line.-text {
  height: auto;
  padding: 2px;
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
}

.cell.-line.-text > span {
  font-weight: initial;
}

.cell.-b.-result,
.legend-row.-result {
  background-color: rgb(255, 204, 102);
}

.cell.-b.-result {
  /* font-weight: bold; */
}

.cell.-b.-input {
  padding: 0;
}

::placeholder {
  color: purple;
  opacity: 1;
}

::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: purple;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: purple;
}

input[type="number"],
.legend-row.-input {
  background-color: rgb(255, 255, 153);
}

input[type="number"] {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 90%;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

input[type="number"]:focus {
  /* box-shadow: 0 0 4px 4px rgb(61, 119, 194); */
  box-shadow: 0 0 4px 4px gray;
}

/* ##### Legend ##### */
aside.legend {
  max-width: 320px;
  width: 100%;
}

.legend-header,
.legend-row {
  padding: 4px 10px;
  font-size: 90%;
  width: 100%;
}

.legend-header {
  text-decoration: underline;
}

.legend-row.-version {
  font-style: italic;
}

/* ##### Links ##### */
a.legend-link:link {
  /* position: absolute;
  top: 3px;
  left: 6px; */
  background-color: white;
}

a.legend-link:link,
a.legend-link:visited {
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 10px;
  color: var(--orange-menu-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 140%;
}

@media (hover: hover) {
  a.legend-link:hover {
    outline: 2px solid black;
    border: 1px solid white;
  }
}

@media (hover: none) {
  a.legend-link:active {
    outline: 2px solid black;
    border: 1px solid white;
  }
}

footer > a:link,
footer > a:visited  {
  color: rgb(54, 96, 146);
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
}
