/* ##### Legend [Start] ##### */
.-version {
  padding: 16px 12px 0 12px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: var(--red-menu-color);
}

h5.-legend {
  font-size: 1em;
  text-align: center;
  margin-top: 16px;
}

.legend-cell-sample {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  padding: 4px;
  font-size: 90%;
  width: 100%;
}

.-placeholder {
  font-family: monospace, monospace;
  font-size: 90%;
  font-weight: bold;
  color: gray;
}


/* Legend Grid - Start */
.legend-grid {
  display: grid;
  grid-template-columns: 110px 1fr;
  row-gap: 6px;
  column-gap: 4px;
  font-size: 98%;
}

.-legend-grid-full-row {
  grid-column: 1/-1;
  padding: 8px;
}

.-legend-grid-item button {
  pointer-events: none;
}

.-legend-grid-item.-a {
  justify-self: center;
  align-self: flex-start;
}

.-legend-grid-item.-b::before {
  /* content: "\27A2"; */
  content: "\2794";
}

.text-bullet::before {
  /* content: "\00a0\27A2\00a0"; */
  content: "\00a0\2794\00a0";
}

.legend-grid.-btns {
  grid-template-columns: 50px 1fr;
}

.legend-grid.-text {
  grid-template-columns: 1fr;
}

.legend-grid.-text p {
  padding: 0px 4px;
}

/* Legend Grid - End */


#btn-predefined-sample {
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
}

#btn-reset-sample,
#btn-submit-sample,
#btn-save-sample {
  width: 38px;
  height: 38px;
}

.-btn-global {
  margin: 0;
}

/* ##### Legend [End] ##### */