/* ##### Legend [Start] ##### */
.details-body.-bottom > p {
  padding: 6px;
}

.legend-cell-example {
  display: inline-block;
  text-align: center;
  padding: 2px 10px;
  font-size: 90%;
  min-width: 100px;
  border: 1px solid black;
}


.-version {
  padding: 16px 12px 0 12px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: var(--red-menu-color);
}

h5.-legend {
  font-size: 1em;
  text-align: center;
  margin-top: 16px;
}

.line-btn {
  margin-bottom: 10px;
}

.-placeholder {
  font-family: monospace, monospace;
  font-size: 90%;
  font-weight: bold;
  color: gray;
}

#btn-predefined-example {
  padding: 0;
  /* padding: 2px 10px; */
  margin: 0;
  width: 36px;
  height: 36px;
}

div.-example {
  pointer-events: none;
  display: inline-block;
}

#btn-reset-example,
#btn-submit-example,
#btn-save-example {
  width: 38px;
  height: 38px;
}

.-btn-global {
  margin: 0;
}

/* span.-example-text {
  display: inline-block;
  vertical-align: middle;
  min-height: 36px;
} */

span.-example-text {
  border: 1px solid purple;
  display: inline-block;
  /* vertical-align: top; */
}


/* ##### Legend [End] ##### */