/* ##### Links [Start] ##### */
a.legend-link:link {
  background-color: white;
}

a.legend-link:link,
a.legend-link:visited {
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 20px;
  padding: 4px 12px;
  color: var(--orange-menu-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 140%;
}


a.offline-link:link,
a.offline-link:visited {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 6px;
  padding: 7px 8px;
}

a.offline-link:link,
a.offline-link:visited,
.page-footer-link:link,
.page-footer-link:visited {
  color: #366092;
  display: inline-block;
}

.page-footer-link:link,
.page-footer-link:visited {
  padding: 6px 20px 6px 10px;
}

@media (hover: hover) {

  a.legend-link:hover,
  a.offline-link:hover {
    outline: 2px solid black;
    border: 1px solid white;
  }
}

@media (hover: none) {

  a.legend-link:active,
  a.offline-link:active {
    outline: 2px solid black;
    border: 1px solid white;
  }
}

/* ##### Links [End] ##### */