/* ##### QUERIES ##### */
/* Queries points >>> 1200px / 1000px / 680px / 370px / 350px / 308px / 300px */

@media (max-width: 1200px) {
  .--grid-3-cols {
    grid-template-columns: 1fr 1fr;
  }

  footer.page {
    margin-top: 20px;
  }
}

@media (max-width: 680px) {
  .--grid-3-cols {
    grid-template-columns: 1fr;
  }

  hr {
    margin-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .top-nav,
  a.legend-link:link {
    position: initial;
  }

  a.legend-link:link {
    margin-right: 6px;
  }
}

@media (max-width: 220px) {
  .top-nav {
    flex-direction: column;
    gap: 4px;
  }
}
