/* ##### QUERIES [Start] ##### */
/* Queries points >>> 1200px / 1000px / 680px / 370px / 350px / 308px / 300px / 220px */

@media (max-width: 1200px) {
  .--grid-3-cols {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 680px) {
  .--grid-3-cols {
    grid-template-columns: 1fr;
  }

  hr {
    margin-bottom: 40px;
  }

}

@media (max-width: 400px) {
  .legend-cell-example {
    width: 120px;
  }

  .legend-grid.-fields {
    grid-template-columns: 1fr;
  }

  .legend-grid.-fields .-legend-grid-item.-a {
    justify-self: left;
  }

  .legend-grid.-fields .-legend-grid-item.-b,
  .legend-grid.-fields .-legend-grid-full-row {
    padding-bottom: 16px;
  }

  .legend-grid.-btns,
  .legend-grid.-text {
    row-gap: 16px;
  }

}

/* ##### QUERIES [End] ##### */