@import url("./basic.css");
@import url("./details.css");
@import url("./top-nav.css");
@import url("./borders.css");
@import url("./buttons.css");
@import url("./legend.css");
@import url("./small-elements.css");
@import url("./queries.css");
@import url("./modal.css");