/* ##### Small Elements [Start] ##### */
.warning {
  border-radius: 4px;
  background-color: var(--red-menu-color);
  color: white;
  padding: 4px 6px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 90%;
}

.check-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.equal-sign,
.multiply-sign {
  font-size: 120%;
}

.equal-sign > span,
.multiply-sign > span {
  transform: translateX(1px);
}

/* Alert - Onclick */
.temp-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
  border: 4px solid white;
  border-radius: 50%;
}

/* Comments */
.comment {
  position: relative;
  cursor: pointer;
}

.comment > * {
  cursor: pointer;
}

.comment::after,
.comment-green::after {
  content: '';
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
}

.comment::after {
  border-color: red red transparent transparent;
}

.-comment-green::after {
  border-color: green green transparent transparent;
}

.comment-box {
  max-width: 300px;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 20px;
  border: 2px solid rgb(192, 0, 0);
  border-radius: 6px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  color: black;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: normal;
}

.comment:hover .comment-box {
  visibility: visible;
  z-index: 99;
}

/* ##### Small Elements [End] ##### */