/* ##### Index [Start] ##### */
:root {
  --black-color: rgb(53, 59, 65);
  --black-color-2: rgb(74, 80, 87);
  --orange-menu-color: rgb(226, 107, 10);
  --grey-bg: rgb(248, 248, 248);
  --blue-text-links: #366092;
}

body {
  color: var(--black-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 20px;
}

header.-page,
footer.-page {
  background-color: rgb(248, 248, 248);
  width: 100%;
}

header.-page {
  text-align: center;
  padding: 6px;
}

footer.-page {
  margin-top: auto;
  text-align: initial;
  padding: 8px 8px 8px 20px;
}

footer ul {
  list-style-type: none;
  list-style-position: inside;
}

footer ul li {
  margin: 10px 0px;
}

.page-footer-link:link,
.page-footer-link:visited {
  display: inline-block;
  padding: 6px 20px 6px 10px;
  color: #366092;
}

h1 {
  padding: 6px 0;
}

a > * {
  pointer-events: none;
}

a svg {
  z-index: 0;
}

ol.-main,
ul.-main {
  margin: 0 20px;
  list-style-position: inside;
}

ol.-main li,
ul.-main li {
  padding: 4px 0;
}

ol.-main {
  list-style-type: none;
  counter-reset: item;
}

ol.-main li::before {
  content: counter(item) "";
  counter-increment: item;
}

.bullet::before {
  content: ') ';
}

ul.-main.-circle {
  list-style-type: circle;
}

svg.left-arrow {
  color: initial;
  width: 2em;
  height: auto;
}

.divider {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-html {
  color: var(--orange-menu-color);
}

.hellip {
  transform: translateY(-25%);
}

/* ##### Index [End] ##### */